<?xml version="1.0"?>
<config>
	<modules>
		<Logicbroker_Edi>
		  <version>0.1.0</version>
		</Logicbroker_Edi>
	</modules>
	<global>
		<helpers>
			<edi>
				<class>Logicbroker_Edi_Helper</class>
			 </edi>
		</helpers>
		<blocks>
			<edi>
				<class>Logicbroker_Edi_Block</class>
			</edi>
			<adminhtml>
				<rewrite>
					<sales_order_view_items_renderer_default>Logicbroker_Edi_Block_Adminhtml_Sales_Order_Items</sales_order_view_items_renderer_default>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			 <edi>
				<class>Logicbroker_Edi_Model</class>
			 </edi>
			 <tax>
				<rewrite>
					<sales_total_quote_tax>Logicbroker_Edi_Model_Sales_Total_Quote_Tax</sales_total_quote_tax>
				</rewrite>
			 </tax>
		</models>
		<resources>
			  <edi_setup>
					<setup>
						<module>Logicbroker_Edi</module>
					</setup>
					<connection>
						<use>core_setup</use>
					</connection>
			  </edi_setup>
			  <edi_write>
					<connection>
					  <use>core_write</use>
					</connection>
			  </edi_write>
			  <edi_read>
					<connection>
					  <use>core_read</use>
					</connection>
			  </edi_read>
		</resources>
	</global>
	<admin>
        <routers>
			<edi>
				<use>admin</use>
				<args>
					<module>Logicbroker_Edi</module>
					<frontName>edi</frontName>
				</args>
			</edi>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				  <edi>
					 <file>edi.xml</file>
				  </edi>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<logicbroker_edi_section>
			<logicbroker_edi_group2>
				<apply_tax>1</apply_tax>
			</logicbroker_edi_group2>
		</logicbroker_edi_section>
	</default>
</config> 